body {
  font-weight: normal;
  background: linear-gradient(to right, #543ab7, #00acc1);
}

.prev,
.cur {
  color: #fff;
}
.calculator {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.ac,
.equal {
  grid-column: span 2;
}

.output {
  grid-column: 1 / 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .cur {
  color: #fff;
  font-size: 2.5rem;
}
